@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-barlow);
  --font-display: var(--font-oswald);
}

:root {
  --background: #050506; /* Pitch black */
  --foreground: #fafafa; /* zinc-50 */
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/* Custom transitions for a premium feel */
* {
  @apply transition-colors duration-200 ease-in-out;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-zinc-950;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-800 rounded-full border-2 border-zinc-950;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-yellow-400;
}

/* Custom keyboard focus outline for accessibility */
*:focus-visible {
  @apply outline-2 outline-yellow-400 outline-offset-2;
}

