@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #09090b; /* zinc-950 */
  --foreground: #fafafa; /* zinc-50 */
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/* Custom transitions for a premium feel */
* {
  @apply transition-colors duration-200 ease-in-out;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-zinc-950;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-800 rounded-full border-2 border-zinc-950;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-orange-500;
}
